@charset "UTF-8";

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px; /* Base font size */
  background-color: #303030; /* Set background color to grey */
  color: #ffffff; /* Set text color to white */
}

p {
  color: #ffffff; /* Set text color to white */
  line-height: 1.5;
  text-align: justify;
  font-size: 1em;
}

.container {
  background-color: #0e0e0e;
  width: 100%;
  max-width: 1200px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
}

.primary_header, .secondary_header {
  width: 100%;
  text-align: center;
}

.primary_header {
  background-color: #52bad5;
  padding: 10px 0;
  border-bottom: 2px solid #2C9AB7;
}

.secondary_header {
  background-color: #303030;
  padding: 1.25em 0;
}

.footer {
  background-color: #0e0e0e;
  padding: 1.25em;
  color: #00ff44; /* Set text color to white */
  font-weight: lighter;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  margin-top: auto; /* Pushes footer to the bottom */
  text-align: center;
}

/* Navigation Styles */
.secondary_header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align text to the right */
  
}

.secondary_header ul li {
  display: inline-block;
  margin-right: 15%;
  color: #00ff44;/
  letter-spacing: 0.0625em;
  transition: color 0.3s linear;
  font-size: 1.25em; /* Increase text size */
}

.secondary_header ul li a {
  text-decoration: none; /* Remove underline */
  color: inherit;
}

.secondary_header ul li a:visited {
  color: inherit; /* Remove purple color when link is clicked */
}

.secondary_header ul li:hover {
  color: #717070;
  cursor: pointer;
}

/* Main Content */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.left_article, .right_article {
  flex: 1;
  padding: 1em;
  height: 40%;
}

.left_article {
  background-color: #0e0e0e;
  color: #ffffff; /* Set text color to white */
}

.right_article {
  padding-left: 50px;
  background-color: #0e0e0e;
  color: #ffffff; /* Set text color to white */
}

.right_article img {
  width: 40%;
  height: 40%;
}

.left_article h3 {
  color: #00ff44;; /* Set text color to white */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
}

.left_article p {
  color: #ffffff; /* Set text color to white */
  line-height: 1.5;
  text-align: justify;
  font-size: 1em;
}

/* Column Styles */
.row {
  display: flex;
  flex-wrap: wrap;
}

.columns {
  flex: 1 1 20%; /* Adjust the width to fit 5 columns */
  box-sizing: border-box;
  padding: 10px;
  border: 6px solid #00ff44; /* Add black border */
  background-color: #3e3d3d; /* Set background color to white */
  color: #000000; /* Set text color to black for contrast */
  line-height: 1.5;
  margin: 10px;
}

.columns h4 {
  text-align: center;
  color: #01B2D1;
  font-size: 1.25em;
}

.thumbnail_align {
  text-align: center;
}

.thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.placeholder {
  width: 100%;
  height: auto;
  padding: 3px;
  background-color: #62f77b;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .secondary_header ul li {
    display: block;
    margin: 10px 0;
  }

  .left_article, .right_article {
    flex: 1 1 100%;
  }

  .columns {
    flex: 1 1 100%;
  }

  body {
    font-size: 14px; /* Adjust base font size for smaller screens */
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .columns {
    flex: 1 1 50%;
  }

  body {
    font-size: 15px; /* Adjust base font size for medium screens */
  }
}

@media (max-width: 1200px) {
  .columns {
    flex: 1 1 25%; /* Adjust the width to fit 4 columns */
  }
}

@media (max-width: 992px) {
  .columns {
    flex: 1 1 33.33%; /* Adjust the width to fit 3 columns */
  }
}

@media (max-width: 576px) {
  .columns {
    flex: 1 1 100%; /* Adjust the width to fit 1 column */
  }

  body {
    font-size: 12px; /* Adjust base font size for smaller screens */
  }
}