.inline_header h1 {
    display: inline-block; /* This will allow them to be on the same line */
    margin-right: 25%; /* Optional: Adjusts the space between the headers */
    vertical-align: top;
    padding-left: 10px; /* To align them at the top if they have different heights */
/* Remove any width or block-level display that might be inherited */
}

.content {
    width: 150px;
    height: 150px;
    padding-top: 10px;
}
.output_container{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
.working_container{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
table {
    border-collapse: collapse; /* Optional, for better table styling */
}

tr {
    border: 2px solid black;
}

td {
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 2px solid black; /* Added border to td for consistency */
}
header{
    background-color: lightgrey;
    height: 70px;
    width: 100%;
    
}
h1{
    font-family: Arial, sans-serif;    
    color: rgba(16, 16, 16, 0.519);
}
